body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(199, 199, 211);
}

.btn{
    position: relative;
    width: 350px;
    height: 50px;
    border: 4px solid black;
    line-height: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 15px 15px 15px 15px rgb(150, 144, 144);
}

.btn:hover {
    color: white;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(185, 25, 25);
    z-index: -1;
    border-radius: 0 0 20px 20px;
    height: 0%;
    transition: all 0.5s;
}

.btn:hover::before{
    height: 190%;
}
