@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
body{
    
    font-family: 'Cute Font', cursive;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #b96e97;
   
    
}
section{
    /* background: blue; */
    margin: 15%;
    display: flex;
   
    
}

ul{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    
    

}

ul li{
    list-style: none;
    
}

 ul li a{
    position: relative;
} 

.pages{
    position: relative;
    width: 160px;
    height: 50px;
    background: #7c95b9;
    color:rgb(250, 246, 246);
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -1px -1px 4px rgba(255,255,255,0.05),
                4px 4px 6px rgba(0,0,0,0.2),
                inset -1px -1px 4px rgba(255,255,255,0.05),
                inset 1px 1px 1px rgba(0,0,0,0.1);
                /* 4px 4px 6px rgba(0,0,0,0.2); */

}

.icon:before{  /*efeito degrade interno*/
    content:'';
    position: absolute;
    top:2px;
    left: 2px;
    width: calc(100% - 5px);
    height: calc(50% - 2px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgba(170, 95, 164, 0.05);
}

.icon{
    box-shadow: inset 0px 0px 2px rgba(255,255,255,0.05),
                /* inset 4px 4px 6px rgba(0,0,0,0.2); */
} 

/* parte das cores*/

ul li a:hover {

   color:#d899d8;
   text-shadow:0 0 15px #555dcc,
                0 0 25px #dda1c9;
    animation: animate 8s linear infinite;
}

@keyframes animate
{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg)
    } 
}