*{
    font-family: 'Righteous', cursive;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: rgb(96, 96, 96);
}

a {
	text-decoration: none;
	color: white;
	font-size: 40px;
	border: 3px solid rgb(71, 70, 70);
	padding: 40px 80px;
	transition: all 0.3s
}

a:hover {
	border: 3px dashed white;
	color: #e1f5ee;
    animation: shake 0.3s linear 1;
    border-radius: 20px;
    background: blueviolet;
}

@keyframes shake {
    33% { transform: rotate(20deg); 
        transform: scale(0.8);
}
	66% { transform: rotate(-20deg); }

	100% { transform: rotate(10deg); }
}