body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:#E4C1F9;
}

h1 {
    mix-blend-mode: difference;
    filter: brightness(200%);
    filter: blur(1px);
    font-size: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    background-repeat: no-repeat;
    background-size: 50%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: anim 7s ease infinite;
}

@keyframes anim {
    0%{
        background-position: -500%;
    }
    100%{
        background-position: 500%;
    }
}