body {
    margin: 0;
    padding: 0;
    background: #e76d6d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    left: 1.5%;
}


span{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 4px;
    animation: anim 3s linear infinite;
}

span:nth-child(1){
    animation-delay: 2s;
}

span:nth-child(2) {
    animation-delay: 1.4s;
}

span:nth-child(3){
    animation-delay: 0.7s;
}

@keyframes anim {
    0% {
        top: 0;
        left: 0;
    }
    12.5% {
        top: 0;
        left: 50%;
    }
    25% {
        top: 0;
        left: 50%;
    }
    37.5% {
        top: 50%;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    62.5% {
        top: 50%;
        left: 0;
    }
    75% {
        top: 50%;
        left: 0;
    }
    82.5% {
        top:0;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }

}