body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lobster', cursive;
}

.container-1 {
    background: url(../../../fb639b7884cdd327b0b492da8b1286aa.jpg);
    background-size: cover;
    border-right: 1px solid rgb(245, 194, 194);
    width: 40%;
    height: 100%;
}

.container-2 {
    background-color: rgb(247, 204, 210);
    width: 50%;
    height: 100%;
    color:rgb(71, 2, 48);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


span::before {
    content: "";
    animation: anim 4s infinite;
}

@keyframes anim {
    0% {
        content: '💻'
    }
    25% {
        content: '🌺';
    }
    50% {
        content: '🎶';
    }
    100% {
        content: '👾';
    }
}