*{
    margin: 0;
    padding: 0;
}

/*Configurando o body*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    background-size: auto;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* container antecessor ao botão*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 4px solid white;
    cursor: pointer;
    position: relative;
}

/* botão com borda animada */
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(196, 5, 68);
    color: white;
    padding: 20px;
    width: 180px;
    position: relative;
}

/*adicionando detalhe móvel a borda do botão*/
.container-btn::before, .container-btn::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    background:black;
    transform: skewX(50deg);
    transition: .4s linear;
}

/*condições de animação de detalhe nas bordas*/

.container-btn::before{
    top: -4px;
    left: 10%;
}

.container-btn::after{
    bottom: -4px;
    right: 10%;
}

.container-btn:hover::before{
    left: 80%;
    transform: skewX(-50deg);
}

.container-btn:hover::after{
    right: 80%;
    transform: skewX(-50deg);
}
