body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(126, 170, 126);
}

.container {
    position: absolute;
    height: 200px;
    width: 160px;
    background-color: rgb(130, 172, 130);
    border-top: 10px solid #6d6d44;
    display: flex;
    justify-content: center;    
    padding: 0 40px 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 15px 15px rgba(75, 77, 73, 0.8);
    
}

.container span {
    position: relative;
    display: block;
    width: 4px;
    height: 200px;
    background-color: rgb(95, 95, 62);
    margin: 0 14px;
    transform-origin: top;
}

.container span::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: #5f5f3e;
    border-radius: 50%;
    left: -290%;
}

.container span:first-child{
    animation: anim1 2s linear infinite;
}

.container span:last-child{
    animation: anim2 2s linear infinite;
    animation-delay: 0s;
}

@keyframes anim1 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(0deg);
    }
}

@keyframes anim2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-60deg);
    }
}
